<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <input type="checkbox" name="check_task" id="" <%= task.completed? ? 'checked' : '' %> disabled>
  <label for="check_task"><%= link_to task.title, task_path(task) %></label>
  <label><%= link_to "Excluir", task_path(task), method: :delete, data: { confirm: "Delete #{task.title}?" } %></label>
  <br>
<% end %>

<p><%= link_to "Add a new task", new_task_path %></p>
